body {
	background: #e8d9ce;
	text-align: center;
	font-family: "Montserrat";
	color: #232323;
}

h1 {
	font-weight: 400;
	margin-top: 50px;
}

table {
	margin: 35px auto;
	min-width: 300px;
}

tbody {
	min-width: 300px;
}

td {
	text-align: center;
	width: 20%;
	margin: 2.5%;
	/*border-radius: 15px;*/
	border: 1px solid black;
	border-spacing: 5px;
	border-collapse: separate;
	padding-top: 20px;
	padding-bottom: 20px;
}

.output {
	background: #d7e8de;
	height: 41px;
	padding-right: 8px;
	text-align: right;

}

.one,
.two,
.three,
.four,
.five,
.six,
.seven,
.eight,
.nine,
.zero {
	background-color: #d7e8de;
}

td {
	background-color: #dddcdb;
}